<h1>Students</h1>
<%= link_to "New student", students_new_path %>
<% @students.reverse.each do |s| %>
<div class="student">
  <h3><%= s.first_name.capitalize %> <%= s.last_name.capitalize %></h3>
  <p>Age: <%= s.age %></p>
  <p>Education: <%= s.education %></p>
  <% Cohort.where(id: s.cohort_id).each do |c|%>
  <p>Enrolled in <%= c.name %></p>
  <%= link_to 'Show', s %>
  <%= link_to 'Edit', edit_student_path(s)%>
  <% end %>
</div>
<hr>
<% end %>
