<!DOCTYPE html>
<html>
  <head>
    <title>Panel2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/cohorts">Cohorts</a> </li>
      <li> <a href="/students">Students</a> </li>
      <li> <a href="/instructors">Instructors</a> </li>
      <li> <a href="/courses">Courses</a> </li>

    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
